/* ul {
  width: 30%;
  border: 1px solid #cdcdcd;
  margin: 0 auto;
}
*/
/* @media (max-width: 450px) {
  ul {
    width: 90%;
  }
} */

/* MOBILE FIRST */

ul {
  width: 90%;
  border: 1px solid #cdcdcd;
  margin: 0 auto;
}

nav ul {
  display: flex;
  flex-direction: column;
}

@media (min-width: 450px) {
  ul {
    width: 30%;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
}



